WebCliente/web/WEB-INF/wsdl/192.168.160.2_8080/WebserviceTransmetro/Transmetro.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Transmetro/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Transmetro/" name="ControlTransmetro">
<types>
<xsd:schema>
<xsd:import namespace="http://Transmetro/" schemaLocation="http://192.168.160.2:8080/WebserviceTransmetro/Transmetro?xsd=1"/>
</xsd:schema>
</types>
<message name="obtenertamanoG">
<part name="parameters" element="tns:obtenertamanoG"/>
</message>
<message name="obtenertamanoGResponse">
<part name="parameters" element="tns:obtenertamanoGResponse"/>
</message>
<message name="obtenerG">
<part name="parameters" element="tns:obtenerG"/>
</message>
<message name="obtenerGResponse">
<part name="parameters" element="tns:obtenerGResponse"/>
</message>
<message name="agregarRuta">
<part name="parameters" element="tns:agregarRuta"/>
</message>
<message name="agregarRutaResponse">
<part name="parameters" element="tns:agregarRutaResponse"/>
</message>
<message name="eliminarRuta">
<part name="parameters" element="tns:eliminarRuta"/>
</message>
<message name="eliminarRutaResponse">
<part name="parameters" element="tns:eliminarRutaResponse"/>
</message>
<message name="agregarestaciontemp">
<part name="parameters" element="tns:agregarestaciontemp"/>
</message>
<message name="agregarestaciontempResponse">
<part name="parameters" element="tns:agregarestaciontempResponse"/>
</message>
<message name="obtenertamanotemp">
<part name="parameters" element="tns:obtenertamanotemp"/>
</message>
<message name="obtenertamanotempResponse">
<part name="parameters" element="tns:obtenertamanotempResponse"/>
</message>
<message name="obtenerestaciontemp">
<part name="parameters" element="tns:obtenerestaciontemp"/>
</message>
<message name="obtenerestaciontempResponse">
<part name="parameters" element="tns:obtenerestaciontempResponse"/>
</message>
<message name="EliminarAdministrador">
<part name="parameters" element="tns:EliminarAdministrador"/>
</message>
<message name="EliminarAdministradorResponse">
<part name="parameters" element="tns:EliminarAdministradorResponse"/>
</message>
<message name="ModificarAdmi">
<part name="parameters" element="tns:ModificarAdmi"/>
</message>
<message name="ModificarAdmiResponse">
<part name="parameters" element="tns:ModificarAdmiResponse"/>
</message>
<message name="AgregarEstacionG">
<part name="parameters" element="tns:AgregarEstacionG"/>
</message>
<message name="AgregarEstacionGResponse">
<part name="parameters" element="tns:AgregarEstacionGResponse"/>
</message>
<message name="EliminarEstacionG">
<part name="parameters" element="tns:EliminarEstacionG"/>
</message>
<message name="EliminarEstacionGResponse">
<part name="parameters" element="tns:EliminarEstacionGResponse"/>
</message>
<message name="ModificarEstaciong">
<part name="parameters" element="tns:ModificarEstaciong"/>
</message>
<message name="ModificarEstaciongResponse">
<part name="parameters" element="tns:ModificarEstaciongResponse"/>
</message>
<message name="AgregarEstacionC">
<part name="parameters" element="tns:AgregarEstacionC"/>
</message>
<message name="AgregarEstacionCResponse">
<part name="parameters" element="tns:AgregarEstacionCResponse"/>
</message>
<message name="eliminarEstacionC">
<part name="parameters" element="tns:eliminarEstacionC"/>
</message>
<message name="eliminarEstacionCResponse">
<part name="parameters" element="tns:eliminarEstacionCResponse"/>
</message>
<message name="modificarEstacionC">
<part name="parameters" element="tns:modificarEstacionC"/>
</message>
<message name="modificarEstacionCResponse">
<part name="parameters" element="tns:modificarEstacionCResponse"/>
</message>
<message name="Login">
<part name="parameters" element="tns:Login"/>
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse"/>
</message>
<message name="DibujarArbol">
<part name="parameters" element="tns:DibujarArbol"/>
</message>
<message name="DibujarArbolResponse">
<part name="parameters" element="tns:DibujarArbolResponse"/>
</message>
<message name="GraficarLista">
<part name="parameters" element="tns:GraficarLista"/>
</message>
<message name="GraficarListaResponse">
<part name="parameters" element="tns:GraficarListaResponse"/>
</message>
<message name="AgregarChofer">
<part name="parameters" element="tns:AgregarChofer"/>
</message>
<message name="AgregarChoferResponse">
<part name="parameters" element="tns:AgregarChoferResponse"/>
</message>
<message name="eliminarChofer">
<part name="parameters" element="tns:eliminarChofer"/>
</message>
<message name="eliminarChoferResponse">
<part name="parameters" element="tns:eliminarChoferResponse"/>
</message>
<message name="modificarChofer">
<part name="parameters" element="tns:modificarChofer"/>
</message>
<message name="modificarChoferResponse">
<part name="parameters" element="tns:modificarChoferResponse"/>
</message>
<message name="EliminarBus">
<part name="parameters" element="tns:EliminarBus"/>
</message>
<message name="EliminarBusResponse">
<part name="parameters" element="tns:EliminarBusResponse"/>
</message>
<message name="AgregarBus">
<part name="parameters" element="tns:AgregarBus"/>
</message>
<message name="AgregarBusResponse">
<part name="parameters" element="tns:AgregarBusResponse"/>
</message>
<message name="AsignarBusChofer">
<part name="parameters" element="tns:AsignarBusChofer"/>
</message>
<message name="AsignarBusChoferResponse">
<part name="parameters" element="tns:AsignarBusChoferResponse"/>
</message>
<message name="ObtenerDot">
<part name="parameters" element="tns:ObtenerDot"/>
</message>
<message name="ObtenerDotResponse">
<part name="parameters" element="tns:ObtenerDotResponse"/>
</message>
<message name="AgregarAdministrador">
<part name="parameters" element="tns:AgregarAdministrador"/>
</message>
<message name="AgregarAdministradorResponse">
<part name="parameters" element="tns:AgregarAdministradorResponse"/>
</message>
<message name="obtenerc">
<part name="parameters" element="tns:obtenerc"/>
</message>
<message name="obtenercResponse">
<part name="parameters" element="tns:obtenercResponse"/>
</message>
<message name="obtenertamanoc">
<part name="parameters" element="tns:obtenertamanoc"/>
</message>
<message name="obtenertamanocResponse">
<part name="parameters" element="tns:obtenertamanocResponse"/>
</message>
<message name="modificarbus">
<part name="parameters" element="tns:modificarbus"/>
</message>
<message name="modificarbusResponse">
<part name="parameters" element="tns:modificarbusResponse"/>
</message>
<portType name="ControlTransmetro">
<operation name="obtenertamanoG">
<input wsam:Action="http://Transmetro/ControlTransmetro/obtenertamanoGRequest" message="tns:obtenertamanoG"/>
<output wsam:Action="http://Transmetro/ControlTransmetro/obtenertamanoGResponse" message="tns:obtenertamanoGResponse"/>
</operation>
<operation name="obtenerG">
<input wsam:Action="http://Transmetro/ControlTransmetro/obtenerGRequest" message="tns:obtenerG"/>
<output wsam:Action="http://Transmetro/ControlTransmetro/obtenerGResponse" message="tns:obtenerGResponse"/>
</operation>
<operation name="agregarRuta">
<input wsam:Action="http://Transmetro/ControlTransmetro/agregarRutaRequest" message="tns:agregarRuta"/>
<output wsam:Action="http://Transmetro/ControlTransmetro/agregarRutaResponse" message="tns:agregarRutaResponse"/>
</operation>
<operation name="eliminarRuta">
<input wsam:Action="http://Transmetro/ControlTransmetro/eliminarRutaRequest" message="tns:eliminarRuta"/>
<output wsam:Action="http://Transmetro/ControlTransmetro/eliminarRutaResponse" message="tns:eliminarRutaResponse"/>
</operation>
<operation name="agregarestaciontemp">
<input wsam:Action="http://Transmetro/ControlTransmetro/agregarestaciontempRequest" message="tns:agregarestaciontemp"/>
<output wsam:Action="http://Transmetro/ControlTransmetro/agregarestaciontempResponse" message="tns:agregarestaciontempResponse"/>
</operation>
<operation name="obtenertamanotemp">
<input wsam:Action="http://Transmetro/ControlTransmetro/obtenertamanotempRequest" message="tns:obtenertamanotemp"/>
<output wsam:Action="http://Transmetro/ControlTransmetro/obtenertamanotempResponse" message="tns:obtenertamanotempResponse"/>
</operation>
<operation name="obtenerestaciontemp">
<input wsam:Action="http://Transmetro/ControlTransmetro/obtenerestaciontempRequest" message="tns:obtenerestaciontemp"/>
<output wsam:Action="http://Transmetro/ControlTransmetro/obtenerestaciontempResponse" message="tns:obtenerestaciontempResponse"/>
</operation>
<operation name="EliminarAdministrador">
<input wsam:Action="http://Transmetro/ControlTransmetro/EliminarAdministradorRequest" message="tns:EliminarAdministrador"/>
<output wsam:Action="http://Transmetro/ControlTransmetro/EliminarAdministradorResponse" message="tns:EliminarAdministradorResponse"/>
</operation>
<operation name="ModificarAdmi">
<input wsam:Action="http://Transmetro/ControlTransmetro/ModificarAdmiRequest" message="tns:ModificarAdmi"/>
<output wsam:Action="http://Transmetro/ControlTransmetro/ModificarAdmiResponse" message="tns:ModificarAdmiResponse"/>
</operation>
<operation name="AgregarEstacionG">
<input wsam:Action="http://Transmetro/ControlTransmetro/AgregarEstacionGRequest" message="tns:AgregarEstacionG"/>
<output wsam:Action="http://Transmetro/ControlTransmetro/AgregarEstacionGResponse" message="tns:AgregarEstacionGResponse"/>
</operation>
<operation name="EliminarEstacionG">
<input wsam:Action="http://Transmetro/ControlTransmetro/EliminarEstacionGRequest" message="tns:EliminarEstacionG"/>
<output wsam:Action="http://Transmetro/ControlTransmetro/EliminarEstacionGResponse" message="tns:EliminarEstacionGResponse"/>
</operation>
<operation name="ModificarEstaciong">
<input wsam:Action="http://Transmetro/ControlTransmetro/ModificarEstaciongRequest" message="tns:ModificarEstaciong"/>
<output wsam:Action="http://Transmetro/ControlTransmetro/ModificarEstaciongResponse" message="tns:ModificarEstaciongResponse"/>
</operation>
<operation name="AgregarEstacionC">
<input wsam:Action="http://Transmetro/ControlTransmetro/AgregarEstacionCRequest" message="tns:AgregarEstacionC"/>
<output wsam:Action="http://Transmetro/ControlTransmetro/AgregarEstacionCResponse" message="tns:AgregarEstacionCResponse"/>
</operation>
<operation name="eliminarEstacionC">
<input wsam:Action="http://Transmetro/ControlTransmetro/eliminarEstacionCRequest" message="tns:eliminarEstacionC"/>
<output wsam:Action="http://Transmetro/ControlTransmetro/eliminarEstacionCResponse" message="tns:eliminarEstacionCResponse"/>
</operation>
<operation name="modificarEstacionC">
<input wsam:Action="http://Transmetro/ControlTransmetro/modificarEstacionCRequest" message="tns:modificarEstacionC"/>
<output wsam:Action="http://Transmetro/ControlTransmetro/modificarEstacionCResponse" message="tns:modificarEstacionCResponse"/>
</operation>
<operation name="Login">
<input wsam:Action="http://Transmetro/ControlTransmetro/LoginRequest" message="tns:Login"/>
<output wsam:Action="http://Transmetro/ControlTransmetro/LoginResponse" message="tns:LoginResponse"/>
</operation>
<operation name="DibujarArbol">
<input wsam:Action="http://Transmetro/ControlTransmetro/DibujarArbolRequest" message="tns:DibujarArbol"/>
<output wsam:Action="http://Transmetro/ControlTransmetro/DibujarArbolResponse" message="tns:DibujarArbolResponse"/>
</operation>
<operation name="GraficarLista">
<input wsam:Action="http://Transmetro/ControlTransmetro/GraficarListaRequest" message="tns:GraficarLista"/>
<output wsam:Action="http://Transmetro/ControlTransmetro/GraficarListaResponse" message="tns:GraficarListaResponse"/>
</operation>
<operation name="AgregarChofer">
<input wsam:Action="http://Transmetro/ControlTransmetro/AgregarChoferRequest" message="tns:AgregarChofer"/>
<output wsam:Action="http://Transmetro/ControlTransmetro/AgregarChoferResponse" message="tns:AgregarChoferResponse"/>
</operation>
<operation name="eliminarChofer">
<input wsam:Action="http://Transmetro/ControlTransmetro/eliminarChoferRequest" message="tns:eliminarChofer"/>
<output wsam:Action="http://Transmetro/ControlTransmetro/eliminarChoferResponse" message="tns:eliminarChoferResponse"/>
</operation>
<operation name="modificarChofer">
<input wsam:Action="http://Transmetro/ControlTransmetro/modificarChoferRequest" message="tns:modificarChofer"/>
<output wsam:Action="http://Transmetro/ControlTransmetro/modificarChoferResponse" message="tns:modificarChoferResponse"/>
</operation>
<operation name="EliminarBus">
<input wsam:Action="http://Transmetro/ControlTransmetro/EliminarBusRequest" message="tns:EliminarBus"/>
<output wsam:Action="http://Transmetro/ControlTransmetro/EliminarBusResponse" message="tns:EliminarBusResponse"/>
</operation>
<operation name="AgregarBus">
<input wsam:Action="http://Transmetro/ControlTransmetro/AgregarBusRequest" message="tns:AgregarBus"/>
<output wsam:Action="http://Transmetro/ControlTransmetro/AgregarBusResponse" message="tns:AgregarBusResponse"/>
</operation>
<operation name="AsignarBusChofer">
<input wsam:Action="http://Transmetro/ControlTransmetro/AsignarBusChoferRequest" message="tns:AsignarBusChofer"/>
<output wsam:Action="http://Transmetro/ControlTransmetro/AsignarBusChoferResponse" message="tns:AsignarBusChoferResponse"/>
</operation>
<operation name="ObtenerDot">
<input wsam:Action="http://Transmetro/ControlTransmetro/ObtenerDotRequest" message="tns:ObtenerDot"/>
<output wsam:Action="http://Transmetro/ControlTransmetro/ObtenerDotResponse" message="tns:ObtenerDotResponse"/>
</operation>
<operation name="AgregarAdministrador">
<input wsam:Action="http://Transmetro/ControlTransmetro/AgregarAdministradorRequest" message="tns:AgregarAdministrador"/>
<output wsam:Action="http://Transmetro/ControlTransmetro/AgregarAdministradorResponse" message="tns:AgregarAdministradorResponse"/>
</operation>
<operation name="obtenerc">
<input wsam:Action="http://Transmetro/ControlTransmetro/obtenercRequest" message="tns:obtenerc"/>
<output wsam:Action="http://Transmetro/ControlTransmetro/obtenercResponse" message="tns:obtenercResponse"/>
</operation>
<operation name="obtenertamanoc">
<input wsam:Action="http://Transmetro/ControlTransmetro/obtenertamanocRequest" message="tns:obtenertamanoc"/>
<output wsam:Action="http://Transmetro/ControlTransmetro/obtenertamanocResponse" message="tns:obtenertamanocResponse"/>
</operation>
<operation name="modificarbus">
<input wsam:Action="http://Transmetro/ControlTransmetro/modificarbusRequest" message="tns:modificarbus"/>
<output wsam:Action="http://Transmetro/ControlTransmetro/modificarbusResponse" message="tns:modificarbusResponse"/>
</operation>
</portType>
<binding name="ControlTransmetroPortBinding" type="tns:ControlTransmetro">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="obtenertamanoG">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerG">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarRuta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarRuta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="agregarestaciontemp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenertamanotemp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerestaciontemp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarAdministrador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModificarAdmi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AgregarEstacionG">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarEstacionG">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ModificarEstaciong">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AgregarEstacionC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarEstacionC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarEstacionC">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="DibujarArbol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GraficarLista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AgregarChofer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarChofer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarChofer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EliminarBus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AgregarBus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AsignarBusChofer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ObtenerDot">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AgregarAdministrador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenerc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obtenertamanoc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modificarbus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ControlTransmetro">
<port name="ControlTransmetroPort" binding="tns:ControlTransmetroPortBinding">
<soap:address location="http://192.168.160.2:8080/WebserviceTransmetro/Transmetro"/>
</port>
</service>
</definitions>